<?xml version="1.0" encoding="utf-8" ?>
<tbls>

	<pluginlist>
		<pluginid>{6D6D0710-F661-45d5-8DDB-73FD8BE743E9}</pluginid>
		<caption>Event Calendar</caption>
	</pluginlist>


	<plugincontrols>
		<pluginid>{6D6D0710-F661-45d5-8DDB-73FD8BE743E9}</pluginid>
		<menuorder>0</menuorder>
		<parm>EventAdminDatabase</parm>
		<plugincontrol>CalendarAdminDatabase.ascx</plugincontrol>
		<pluginlabel>Create / Update Database</pluginlabel>
		<useajax>true</useajax>
		<visible>true</visible>
	</plugincontrols>

	<plugincontrols>
		<pluginid>{6D6D0710-F661-45d5-8DDB-73FD8BE743E9}</pluginid>
		<menuorder>1</menuorder>
		<parm>AdminProfileList</parm>
		<plugincontrol>CalendarAdminProfileList.ascx</plugincontrol>
		<pluginlabel>Event Profile List</pluginlabel>
		<useajax>true</useajax>
		<visible>true</visible>
	</plugincontrols>

	<plugincontrols>
		<pluginid>{6D6D0710-F661-45d5-8DDB-73FD8BE743E9}</pluginid>
		<menuorder>3</menuorder>
		<parm>EventAdminList</parm>
		<plugincontrol>CalendarAdminList.ascx</plugincontrol>
		<pluginlabel>Event List</pluginlabel>
		<useajax>true</useajax>
		<visible>true</visible>
	</plugincontrols>

	<plugincontrols>
		<pluginid>{6D6D0710-F661-45d5-8DDB-73FD8BE743E9}</pluginid>
		<menuorder>5</menuorder>
		<parm>EventAdminDetail</parm>
		<plugincontrol>CalendarAdminDetail.ascx</plugincontrol>
		<pluginlabel>Add/Edit Event Detail</pluginlabel>
		<useajax>true</useajax>
		<visible>true</visible>
	</plugincontrols>

	<plugincontrols>
		<pluginid>{6D6D0710-F661-45d5-8DDB-73FD8BE743E9}</pluginid>
		<menuorder>5</menuorder>
		<parm>EventAdminDetailSingle</parm>
		<plugincontrol>CalendarAdminDetailSingle.ascx</plugincontrol>
		<pluginlabel>Edit Event Detail</pluginlabel>
		<useajax>true</useajax>
		<visible>false</visible>
	</plugincontrols>

	<plugincontrols>
		<pluginid>{6D6D0710-F661-45d5-8DDB-73FD8BE743E9}</pluginid>
		<menuorder>6</menuorder>
		<parm>EventAdminCategoryList</parm>
		<plugincontrol>CalendarAdminCategoryList.ascx</plugincontrol>
		<pluginlabel>Category List</pluginlabel>
		<useajax>true</useajax>
		<visible>true</visible>
	</plugincontrols>

	<plugincontrols>
		<pluginid>{6D6D0710-F661-45d5-8DDB-73FD8BE743E9}</pluginid>
		<menuorder>9</menuorder>
		<parm>EventAdminCategoryDetail</parm>
		<plugincontrol>CalendarAdminCategoryDetail.ascx</plugincontrol>
		<pluginlabel>Add/Edit Category</pluginlabel>
		<useajax>true</useajax>
		<visible>true</visible>
	</plugincontrols>

</tbls>