<?xml version="1.0" encoding="utf-8" ?>
<tbl>

	<ctrlfile>
		<filepath>EventCalendarDisplay.ascx</filepath>
		<crtldesc>Event Calendar - Detail 1</crtldesc>
	</ctrlfile>

	<ctrlfile>
		<filepath>EventCalendarDisplay2.ascx</filepath>
		<crtldesc>Event Calendar - Detail 2</crtldesc>
	</ctrlfile>

	<ctrlfile>
		<filepath>EventCalendarDisplayUpcoming.ascx</filepath>
		<crtldesc>Event Calendar - Upcoming</crtldesc>
	</ctrlfile>

</tbl>