<?xml version="1.0" encoding="utf-8" ?>
<tbls>

	<pluginlist>
		<pluginid>{B3B618E3-5418-43CE-B50B-83438E4B4065}</pluginid>
		<caption>FAQ v2</caption>
	</pluginlist>

	<plugincontrols>
		<pluginid>{B3B618E3-5418-43CE-B50B-83438E4B4065}</pluginid>
		<menuorder>0</menuorder>
		<parm>AdminDatabase</parm>
		<plugincontrol>AdminDatabase.ascx</plugincontrol>
		<pluginlabel>Create / Update Database</pluginlabel>
		<useajax>true</useajax>
		<visible>true</visible>
	</plugincontrols>

	<plugincontrols>
		<pluginid>{B3B618E3-5418-43CE-B50B-83438E4B4065}</pluginid>
		<menuorder>2</menuorder>
		<parm>FAQList</parm>
		<plugincontrol>AdminList.ascx</plugincontrol>
		<pluginlabel>Entry List</pluginlabel>
		<useajax>true</useajax>
		<visible>false</visible>
	</plugincontrols>

	<plugincontrols>
		<pluginid>{B3B618E3-5418-43CE-B50B-83438E4B4065}</pluginid>
		<menuorder>4</menuorder>
		<parm>FAQDetail</parm>
		<plugincontrol>AdminDetail.ascx</plugincontrol>
		<pluginlabel>Add/Edit Entry</pluginlabel>
		<useajax>true</useajax>
		<visible>false</visible>
	</plugincontrols>

	<plugincontrols>
		<pluginid>{B3B618E3-5418-43CE-B50B-83438E4B4065}</pluginid>
		<menuorder>8</menuorder>
		<parm>CategoryList</parm>
		<plugincontrol>AdminCategoryList.ascx</plugincontrol>
		<pluginlabel>Category List</pluginlabel>
		<useajax>true</useajax>
		<visible>true</visible>
	</plugincontrols>

	<plugincontrols>
		<pluginid>{B3B618E3-5418-43CE-B50B-83438E4B4065}</pluginid>
		<menuorder>9</menuorder>
		<parm>CategoryDetail</parm>
		<plugincontrol>AdminCategoryDetail.ascx</plugincontrol>
		<pluginlabel>Add/Edit Category</pluginlabel>
		<useajax>true</useajax>
		<visible>true</visible>
	</plugincontrols>

</tbls>