<?xml version="1.0" encoding="utf-8" ?>
<tbl>

	<ctrlfile>
		<filepath>FaqList.ascx</filepath>
		<crtldesc>FAQ 2 - List</crtldesc>
	</ctrlfile>

	<ctrlfile>
		<filepath>FaqListTop.ascx</filepath>
		<crtldesc>FAQ 2 - List (top X)</crtldesc>
	</ctrlfile>

	<ctrlfile>
		<filepath>FaqRandomOne.ascx</filepath>
		<crtldesc>FAQ 2 - Random One</crtldesc>
	</ctrlfile>

</tbl>