/*
Main CarrotCake CMS stylesheet
*/
body {
	margin: 0;
	padding: 0;
	background: #ffffff;
	font-family: Georgia, Times New Roman, Serif;
	color: #000000;
	font-size: 12px;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-family: Georgia, Times New Roman, Serif;
	color: #69775F;
}

H1 {
	font-size: 24px;
}

H2 {
	font-size: 20px;
}

H3 {
	font-size: 16px;
}

.headingColor {
	color: #69775F;
	font-family: Georgia, Times New Roman, Serif;
	font-weight: bold;
}

a {
	color: #333333;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/* Header */
#headercontainer {
	height: 115px;
	background: #7DAD8E url(/manage/images/heading-gradient.png) repeat-x;
}
#header {
	width: 950px;
	height: 110px;
	margin-left: 50px;
	margin-right: 50px;
	font-family: Georgia, Times New Roman, Serif;
}

#header h1, #header h2 {
	font-weight: bold;
	color: #FFFFFF;
	font-family: Georgia, Times New Roman, Serif;
}

#header h1 {
	float: left;
	padding: 30px 0 0 20px;
	font-size: 36px;
}

#header h2 {
	float: left;
	padding: 40px 20px 0 0;
	font-size: 28px;
}


/* Menu */

#nav-menu-container {
	font: normal 14px "Trebuchet MS" , Arial, Helvetica, sans-serif;
	background: #5B5B5B url(/manage/images/menu-gradient.png) repeat-x;
	padding-left: 50px;
	font-weight: normal;
}

#nav-menu {
	margin: 0;
	padding: 0 1em;
	height: 3em;
	list-style: none;
	z-index: 990;
}

#nav-menu > li {
	float: left;
	height: 100%;
	margin-right: 0.3em;
	padding: 0 1em;
}

#nav-menu > li > a {
	float: left;
	height: 100%;
	color: #ffffff;
	text-decoration: none;
	line-height: 3;
}
#nav-menu > li.current > a {
	font-weight: bolder;
}

#nav-menu > li.current > ul > li > a {
	font-weight: normal;
}

#nav-menu > li > a:hover {
	text-decoration: underline;
}

#nav-menu > li.sub {
	position: relative;
	z-index: 998;
}

#nav-menu > li.sub ul {
	width: 14em;
	margin: 0;
	padding: 0.4em 0;
	list-style: none;
	background: #2D2D2D;
	position: absolute;
	top: -1000em;
}

#nav-menu > li.sub ul li {
	width: 90%;
	margin: 0 auto 0.2em auto;
}

#nav-menu > li.sub ul li a {
	height: 100%;
	display: block;
	padding: 0.3em;
	color: #fff;
	text-decoration: none;
}

#nav-menu > li.current ul li.current a {
	font-weight: bolder;
}

#nav-menu > li.sub ul li a:hover {
	background: #878787;
	text-decoration: underline;
}

#nav-menu > li.sub:hover ul {
	top: 3em;
}



/* Content */

#content {
	min-width: 720px;
	margin: 0 auto 20px auto;
	padding: 20px;
	background: #FFFFFF;
}

#content H1 {
	font-size: 24px;
}

#content H2 {
	font-size: 18px;
}

.pad-content {
	margin-left: 40px;
	margin-right: 40px;
	padding-left: 10px;
	padding-right: 10px;
	min-height: 400px;
}

.imgNoBorder {
	padding: 0px;
	margin: 0px;
	padding: 1px;
	border: none;
	border: 0;
}

a .imgNoBorder {
	border-width: 0;
	margin: 0px;
	padding: 0px;
	border: none;
	outline: none;
}

.pageNodeDrillDown1 {
	padding: 0px;
	margin: 0px;
	float: left;
	min-height: 45px;
}

.pageNodeDrillDown2 {
	padding: 0px;
	margin: 2px;
	float: left;
}

.pageNodeDrillDown3 {
	padding: 4px;
	margin: 2px;
	float: left;
	margin-right: 5px;
}

.pageNodeDrillDown4 {
	padding: 0px;
	margin: 2px;
	position: relative;
	width: 100px;
}

.pageNodeDrillDown5 {
	padding: 0px;
	margin: 2px;
	float: left;
	margin-top: 0px;
}

.pageNodeDrillDown6 {
	padding: 2px;
	margin: 0px;
}

/* Footer */

#footer {
	height: 50px;
	padding: 20px;
	background: #333333;
	border-top: 5px solid #000000;
}


#footer p {
	text-align: center;
	color: #FFFFFF;
}


/*  OTHER */

.caption, .tablecaption {
	font-weight: bold;
}


/* correction for jquery ui */

.ui-widget-header a, .ui-widget-header, .ui-widget p, .ui-widget ul, .ui-widget li, .ui-widget ol, .ui-widget h1, .ui-widget h2, .ui-widget h3, .ui-widget div, .ui-widget span, .ui-widget input, .ui-widget select, .ui-widget button, .ui-widget textarea, .ui-widget a {
	line-height: normal;
	text-align: left;
	font-size: small;
	font-family: Lucida Grande, Lucida Sans Arial, sans-serif;
	color: #676F6A;
}

.ui-autocomplete-loading {
	background: white url('/Manage/images/mini-spinner3-6F997D.gif') right center no-repeat;
}

.ui-autocomplete {
	max-height: 150px;
	overflow-y: auto;
	overflow-x: hidden;
	padding-right: 20px;
}

#cms-simplemodal-container, .cms-simplemodal-container {
	height: 550px;
	width: 925px;
	z-index: 5000;
}

.picker-area {
	padding: 4px;
}
.scroll-container {
	height: 80px;
	padding: 4px;
	width: 99%;
	z-index: 999;
}
.scroll-area {
	height: 75px;
	overflow: auto;
	padding: 2px;
	width: 99%;
}

.selectedModule {
	font-weight: bolder;
}

.pagerlink, .sel-pagerlink {
	float: left;
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}
.datafooter {
	margin: 2px 2px 2px 2px;
	padding: 2px 2px 2px 2px;
	clear: both;
	width: 50%;
}

/* fieldset */

fieldset {
	margin: 1em 0px;
	padding: 1em;
	border: 1px solid #ccc;
}

fieldset legend label {
	display: block;
	font-size: 16px;
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-family: Georgia, Times New Roman, Serif;
	color: #69775F;
}

fieldset legend label.inline {
	display: inline;
}

/*
drilldown stuff
*/

div.scroll {
	height: 100px;
	width: 340px;
	overflow: auto;
	padding: 2px;
	position: absolute;
	z-index: 999;
}
div.scrollcontainer {
	height: 110px;
	width: 350px;
	padding: 4px;
	position: absolute;
	z-index: 999;
}
div.scrollcontainerhide {
	display: none;
}
div.scrollcontainerheight {
	height: 5px;
	width: 75px;
}
div.menuitems {
	margin-top: 2px;
	margin-left: 2px;
	padding: 6px;
}
div.menuitems {
	padding: 4px;
}

