<?xml version="1.0" encoding="utf-8" ?>
<tbl>

	<ctrlfile>
		<filepath>PhotoGalleryFancyBox.ascx</filepath>
		<crtldesc>Gallery - FancyBox </crtldesc>
	</ctrlfile>

	<ctrlfile>
		<filepath>PhotoGalleryFancyBox2.ascx</filepath>
		<crtldesc>Gallery - FancyBox 2</crtldesc>
	</ctrlfile>

	<ctrlfile>
		<filepath>PhotoGalleryPrettyPhoto.ascx</filepath>
		<crtldesc>Gallery - PrettyPhoto</crtldesc>
	</ctrlfile>
	<ctrlfile>
		<filepath>PhotoGalleryPrettyPhotoContent.ascx</filepath>
		<crtldesc>Gallery - PrettyPhoto (content)</crtldesc>
	</ctrlfile>

</tbl>