<?xml version="1.0" encoding="utf-8" ?>
<tbls>

	<pluginlist>
		<pluginid>1B112D49-01A3-41b8-8344-324E9062E8E2</pluginid>
		<caption>Calendar Admin</caption>
	</pluginlist>

	<pluginlist>
		<pluginid>5E68BD0D-75A5-4ab4-9F86-BC23D96C34B9</pluginid>
		<caption>FAQ Admin</caption>
	</pluginlist>

	<ID_1B112D49-01A3-41b8-8344-324E9062E8E2>
		<pluginid>1B112D49-01A3-41b8-8344-324E9062E8E2</pluginid>
		<menuorder>0</menuorder>
		<parm>CalendarAdmin</parm>
		<plugincontrol>~/cmsPlugins/CalendarAdmin.ascx</plugincontrol>
		<pluginlabel>Calendar - List Events</pluginlabel>
		<useajax>true</useajax>
		<visible>true</visible>
	</ID_1B112D49-01A3-41b8-8344-324E9062E8E2>

	<ID_1B112D49-01A3-41b8-8344-324E9062E8E2>
		<pluginid>1B112D49-01A3-41b8-8344-324E9062E8E2</pluginid>
		<menuorder>1</menuorder>
		<parm>CalendarAdminAddEdit</parm>
		<plugincontrol>~/cmsPlugins/CalendarAdminAddEdit.ascx</plugincontrol>
		<pluginlabel>Calendar - Add</pluginlabel>
		<useajax>true</useajax>
		<visible>true</visible>
	</ID_1B112D49-01A3-41b8-8344-324E9062E8E2>

	<ID_1B112D49-01A3-41b8-8344-324E9062E8E2>
		<pluginid>1B112D49-01A3-41b8-8344-324E9062E8E2</pluginid>
		<menuorder>1</menuorder>
		<parm>CalendarAdminCat</parm>
		<plugincontrol>~/cmsPlugins/CalendarAdminCat.ascx</plugincontrol>
		<pluginlabel>Calendar - Categories</pluginlabel>
		<useajax>true</useajax>
		<visible>false</visible>
	</ID_1B112D49-01A3-41b8-8344-324E9062E8E2>


	<plugincontrols>
		<pluginid>5E68BD0D-75A5-4ab4-9F86-BC23D96C34B9</pluginid>
		<menuorder>0</menuorder>
		<parm>FAQAdmin</parm>
		<plugincontrol>~/cmsPlugins/FAQAdmin.ascx</plugincontrol>
		<pluginlabel>FAQ - List</pluginlabel>
		<useajax>true</useajax>
		<visible>true</visible>
	</plugincontrols>

	<plugincontrols>
		<pluginid>5E68BD0D-75A5-4ab4-9F86-BC23D96C34B9</pluginid>
		<menuorder>1</menuorder>
		<parm>FAQAdminAddEdit</parm>
		<plugincontrol>~/cmsPlugins/FAQAdminAddEdit.ascx</plugincontrol>
		<pluginlabel>FAQ - Add</pluginlabel>
		<useajax>true</useajax>
		<visible>true</visible>
	</plugincontrols>

</tbls>