<?xml version="1.0" encoding="utf-8" ?>
<tbl>


  <ctrlfile>
    <filepath>~/cmsPlugins/FAQDisplay.ascx</filepath>
    <crtldesc>FAQDisplay</crtldesc>
  </ctrlfile>
  
  <ctrlfile>
    <filepath>~/cmsPlugins/CalendarDisplay.ascx</filepath>
    <crtldesc>CalendarDisplay</crtldesc>
  </ctrlfile>
  <ctrlfile>
    <filepath>~/cmsPlugins/CalendarUpcoming.ascx</filepath>
    <crtldesc>Calendar Upcoming</crtldesc>
  </ctrlfile>


</tbl>