<?xml version="1.0" encoding="utf-8" ?>
<tbl>

	<ctrlfile>
		<filepath>~/cmsPlugins/FAQDisplay.ascx</filepath>
		<crtldesc>FAQ Display</crtldesc>
	</ctrlfile>

	<ctrlfile>
		<filepath>~/cmsPlugins/CalendarDisplay.ascx</filepath>
		<crtldesc>Calendar Display</crtldesc>
	</ctrlfile>
	<ctrlfile>
		<filepath>~/cmsPlugins/CalendarUpcoming.ascx</filepath>
		<crtldesc>Calendar Upcoming</crtldesc>
	</ctrlfile>

	<ctrlfile>
		<filepath>~/cmsPlugins/PhotoGalleryFancyBox.ascx</filepath>
		<crtldesc>FancyBox Gallery</crtldesc>
	</ctrlfile>

	<ctrlfile>
		<filepath>~/cmsPlugins/PhotoGalleryFancyBox2.ascx</filepath>
		<crtldesc>FancyBox Gallery 2</crtldesc>
	</ctrlfile>

	<ctrlfile>
		<filepath>~/cmsPlugins/PhotoGalleryPrettyPhoto.ascx</filepath>
		<crtldesc>PrettyPhoto Gallery</crtldesc>
	</ctrlfile>
	<ctrlfile>
		<filepath>~/cmsPlugins/PhotoGalleryPrettyPhotoContent.ascx</filepath>
		<crtldesc>PrettyPhoto Gallery (content)</crtldesc>
	</ctrlfile>


</tbl>