<?xml version="1.0" encoding="utf-8" ?>
<tbl>

	<ctrlfile>
		<filepath>~/cmsPlugins/FAQDisplay.ascx</filepath>
		<crtldesc>FAQ Display</crtldesc>
	</ctrlfile>

	<ctrlfile>
		<filepath>~/cmsPlugins/CalendarDisplay.ascx</filepath>
		<crtldesc>Calendar - Display</crtldesc>
	</ctrlfile>
	<ctrlfile>
		<filepath>~/cmsPlugins/CalendarUpcoming.ascx</filepath>
		<crtldesc>Calendar - Upcoming</crtldesc>
	</ctrlfile>
	<ctrlfile>
		<filepath>~/cmsPlugins/CalendarDateInfo.ascx</filepath>
		<crtldesc>Calendar - Date Info</crtldesc>
	</ctrlfile>

</tbl>