<?xml version="1.0" encoding="utf-8" ?>
<tbls>

	<pluginlist>
		<pluginid>986836AC-0D5E-4ed0-A2DB-C175AEAEE9AD</pluginid>
		<caption>Photo Gallery</caption>
	</pluginlist>


	<plugincontrols>
		<pluginid>986836AC-0D5E-4ed0-A2DB-C175AEAEE9AD</pluginid>
		<menuorder>0</menuorder>
		<parm>GalleryDatabase</parm>
		<plugincontrol>PhotoGalleryDatabase.ascx</plugincontrol>
		<pluginlabel>Create / Update Database</pluginlabel>
		<useajax>true</useajax>
		<visible>true</visible>
	</plugincontrols>

	<plugincontrols>
		<pluginid>986836AC-0D5E-4ed0-A2DB-C175AEAEE9AD</pluginid>
		<menuorder>1</menuorder>
		<parm>GalleryList</parm>
		<plugincontrol>PhotoGalleryAdminCategoryList.ascx</plugincontrol>
		<pluginlabel>Gallery List</pluginlabel>
		<useajax>true</useajax>
		<visible>true</visible>
	</plugincontrols>

	<plugincontrols>
		<pluginid>986836AC-0D5E-4ed0-A2DB-C175AEAEE9AD</pluginid>
		<menuorder>2</menuorder>
		<parm>GalleryEdit</parm>
		<plugincontrol>PhotoGalleryAdminCategory.ascx</plugincontrol>
		<pluginlabel>Add Gallery</pluginlabel>
		<useajax>true</useajax>
		<visible>true</visible>
	</plugincontrols>

	<plugincontrols>
		<pluginid>986836AC-0D5E-4ed0-A2DB-C175AEAEE9AD</pluginid>
		<menuorder>3</menuorder>
		<parm>GalleryExport</parm>
		<plugincontrol>PhotoGalleryAdminExport.ascx</plugincontrol>
		<pluginlabel>Gallery Export</pluginlabel>
		<useajax>false</useajax>
		<visible>true</visible>
	</plugincontrols>

	<plugincontrols>
		<pluginid>986836AC-0D5E-4ed0-A2DB-C175AEAEE9AD</pluginid>
		<menuorder>3</menuorder>
		<parm>GalleryImport</parm>
		<plugincontrol>PhotoGalleryAdminImport.ascx</plugincontrol>
		<pluginlabel>Gallery Import (native)</pluginlabel>
		<useajax>false</useajax>
		<visible>true</visible>
	</plugincontrols>

	<plugincontrols>
		<pluginid>986836AC-0D5E-4ed0-A2DB-C175AEAEE9AD</pluginid>
		<menuorder>4</menuorder>
		<parm>WPGalleryImport</parm>
		<plugincontrol>PhotoGalleryAdminImportWP.ascx</plugincontrol>
		<pluginlabel>Gallery Import (wordpress)</pluginlabel>
		<useajax>false</useajax>
		<visible>true</visible>
	</plugincontrols>


	<plugincontrols>
		<pluginid>986836AC-0D5E-4ed0-A2DB-C175AEAEE9AD</pluginid>
		<menuorder>10</menuorder>
		<parm>EditGalleryImageList</parm>
		<plugincontrol>PhotoGalleryAdmin.ascx</plugincontrol>
		<pluginlabel>Edit Gallery</pluginlabel>
		<useajax>true</useajax>
		<visible>false</visible>
	</plugincontrols>

	<plugincontrols>
		<pluginid>986836AC-0D5E-4ed0-A2DB-C175AEAEE9AD</pluginid>
		<menuorder>10</menuorder>
		<parm>MetaDataEdit</parm>
		<plugincontrol>PhotoGalleryAdminMetaData.ascx</plugincontrol>
		<pluginlabel>Edit Image Meta</pluginlabel>
		<useajax>true</useajax>
		<visible>false</visible>
	</plugincontrols>

</tbls>