<?xml version="1.0" encoding="utf-8" ?>
<tbl>

	<!--<pagenames>
		<templatefile>/c3-admin/PlainTemplate.aspx</templatefile>
		<filedesc>Black 'n White - Plain L-R-C Content</filedesc>
	</pagenames>-->
	<pagenames>
		<templatefile>/Site_4/Template4.aspx</templatefile>
		<filedesc>Artisteer no. 4</filedesc>
	</pagenames>
	<pagenames>
		<templatefile>/citrus-island/citrus1.aspx</templatefile>
		<filedesc>Citrus no. 1</filedesc>
	</pagenames>
	<pagenames>
		<templatefile>/citrus-island/citrus2.aspx</templatefile>
		<filedesc>Citrus no. 2</filedesc>
	</pagenames>
	<pagenames>
		<templatefile>/citrus-island/citrus1-index.aspx</templatefile>
		<filedesc>Citrus no. 1 Blog Index</filedesc>
	</pagenames>
	<pagenames>
		<templatefile>/citrus-island/citrus1-post.aspx</templatefile>
		<filedesc>Citrus no. 1 Blog Post</filedesc>
	</pagenames>
	<pagenames>
		<templatefile>/abundant/abundant.aspx</templatefile>
		<filedesc>Abundant</filedesc>
	</pagenames>
	<pagenames>
		<templatefile>/abundant/abundant-index.aspx</templatefile>
		<filedesc>Abundant (blog index)</filedesc>
	</pagenames>
</tbl>