<?xml version="1.0" encoding="utf-8" ?>
<tbl xmlns="urn:schema-carrotcakecms-com:template">
	<pagenames>
		<templatefile>home.aspx</templatefile>
		<filedesc>Aqueous - home</filedesc>
	</pagenames>
	<pagenames>
		<templatefile>no-sidebar.aspx</templatefile>
		<filedesc>Aqueous - sidebar-none</filedesc>
	</pagenames>
	<pagenames>
		<templatefile>left-sidebar.aspx</templatefile>
		<filedesc>Aqueous - sidebar-left</filedesc>
	</pagenames>
	<pagenames>
		<templatefile>right-sidebar.aspx</templatefile>
		<filedesc>Aqueous - sidebar-right</filedesc>
	</pagenames>
	<pagenames>
		<templatefile>listing.aspx</templatefile>
		<filedesc>Aqueous - listing</filedesc>
	</pagenames>
	<pagenames>
		<templatefile>post.aspx</templatefile>
		<filedesc>Aqueous - post</filedesc>
	</pagenames>
</tbl>