<?xml version="1.0" encoding="utf-8" ?>
<tbl>
	<pagenames>
		<templatefile>waterdrops-home.aspx</templatefile>
		<filedesc>Waterdrops (homepage)</filedesc>
	</pagenames>
	<pagenames>
		<templatefile>waterdrops-page.aspx</templatefile>
		<filedesc>Waterdrops (regular page)</filedesc>
	</pagenames>
	<pagenames>
		<templatefile>waterdrops-blog.aspx</templatefile>
		<filedesc>Waterdrops (blog post)</filedesc>
	</pagenames>
	<pagenames>
		<templatefile>waterdrops-blog-index.aspx</templatefile>
		<filedesc>Waterdrops (blog index)</filedesc>
	</pagenames>

	<pagenames>
		<templatefile>waterdrops-home-master.aspx</templatefile>
		<filedesc>Waterdrops M (homepage)</filedesc>
	</pagenames>
	<pagenames>
		<templatefile>waterdrops-page-master.aspx</templatefile>
		<filedesc>Waterdrops M (regular page)</filedesc>
	</pagenames>
	<pagenames>
		<templatefile>waterdrops-blog-master.aspx</templatefile>
		<filedesc>Waterdrops M (blog post)</filedesc>
	</pagenames>
	<pagenames>
		<templatefile>waterdrops-blog-index-master.aspx</templatefile>
		<filedesc>Waterdrops M (blog index)</filedesc>
	</pagenames>
</tbl>