<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="GenericMasterPage.master.cs" Inherits="Carrotware.CMS.UI.Base.GenericMasterPage" %>

<!DOCTYPE html>
<html>
<head runat="server">
	<title></title>
</head>
<body>
	<form id="form1" runat="server">
		<div>
		</div>
	</form>
</body>
</html>
