<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.web>
		<authorization>
			<deny users="?" />
		</authorization>
	</system.web>
	<location path="ScriptResource.axd" allowOverride="true">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="editor" allowOverride="true">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="skins" allowOverride="true">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="Includes" allowOverride="true">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="iCheck" allowOverride="true">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="glossyseagreen" allowOverride="true">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="tinymce" allowOverride="true">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="Images" allowOverride="true">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="About.aspx" allowOverride="true">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="ResetPassword.aspx" allowOverride="true">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="ForgotPassword.aspx" allowOverride="true">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="NotAuthorized.aspx" allowOverride="true">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="DatabaseSetup.aspx" allowOverride="true">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="CreateFirstAdmin.aspx" allowOverride="true">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>

	<location path="UserAdd.aspx" allowOverride="true">
		<system.web>
			<authorization>
				<allow users="CarrotCMS Administrators" />
			</authorization>
		</system.web>
	</location>
	<location path="User.aspx" allowOverride="true">
		<system.web>
			<authorization>
				<allow users="CarrotCMS Administrators" />
			</authorization>
		</system.web>
	</location>
	<location path="UserGroupAddEdit.aspx" allowOverride="true">
		<system.web>
			<authorization>
				<allow users="CarrotCMS Administrators" />
			</authorization>
		</system.web>
	</location>

	<location path="SiteIndex.aspx" allowOverride="true">
		<system.web>
			<authorization>
				<allow users="CarrotCMS Administrators" />
			</authorization>
		</system.web>
	</location>
	<location path="SiteDetail.aspx" allowOverride="true">
		<system.web>
			<authorization>
				<allow users="CarrotCMS Administrators" />
			</authorization>
		</system.web>
	</location>

	<location path="Logon.aspx" allowOverride="true">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>

	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<modules>
		</modules>
		<handlers>
			<remove name="WebServiceHandlerFactory-Integrated" />
			<remove name="ScriptHandlerFactory" />
			<remove name="ScriptHandlerFactoryAppServices" />
			<remove name="ScriptResource" />
			<remove name="VirtualFileSystem" />
		</handlers>
	</system.webServer>
</configuration>