<?xml version="1.0" encoding="utf-8" ?>
<tbl>
	<pagenames>
		<templatefile>home.aspx</templatefile>
		<filedesc>Imagination - home</filedesc>
	</pagenames>
	<pagenames>
		<templatefile>no-sidebar.aspx</templatefile>
		<filedesc>Imagination - sidebar-none</filedesc>
	</pagenames>
	<pagenames>
		<templatefile>left-sidebar.aspx</templatefile>
		<filedesc>Imagination - sidebar-left</filedesc>
	</pagenames>
	<pagenames>
		<templatefile>right-sidebar.aspx</templatefile>
		<filedesc>Imagination - sidebar-right</filedesc>
	</pagenames>
	<pagenames>
		<templatefile>listing.aspx</templatefile>
		<filedesc>Imagination - listing</filedesc>
	</pagenames>
	<pagenames>
		<templatefile>post.aspx</templatefile>
		<filedesc>Imagination - post</filedesc>
	</pagenames>
</tbl>