<?xml version="1.0" encoding="utf-8" ?>
<tbl>

  <pagenames>
    <templatefile>/Manage/PlainTemplate.aspx</templatefile>
    <filedesc>Black 'n White - Plain L-R-C Content</filedesc>
  </pagenames>

  <pagenames>
    <templatefile>/Site_4/Template4.aspx</templatefile>
    <filedesc>Artisteer no. 4</filedesc>
  </pagenames>

  <pagenames>
    <templatefile>/citrus-island/citrus1.aspx</templatefile>
    <filedesc>Citrus no. 1</filedesc>
  </pagenames>  
  
  <pagenames>
    <templatefile>/slate-gray/gray1.aspx</templatefile>
    <filedesc>Gray - Center Only</filedesc>
  </pagenames>

  <pagenames>
    <templatefile>/slate-gray/gray2.aspx</templatefile>
    <filedesc>Gray - Left and Center</filedesc>
  </pagenames>

  <pagenames>
    <templatefile>/green-theme/Green1.aspx</templatefile>
    <filedesc>Green skin No. 1</filedesc>
  </pagenames>

  <pagenames>
    <templatefile>/purple-leaves/Purple2.aspx</templatefile>
    <filedesc>Purple - Center and Left</filedesc>
  </pagenames>

</tbl>