<?xml version="1.0" encoding="utf-8" ?>
<tbl>

	<pagenames>
		<templatefile>/Manage/PlainTemplate.aspx</templatefile>
		<filedesc>Black 'n White - Plain L-R-C Content</filedesc>
	</pagenames>
	<pagenames>
		<templatefile>/Site_4/Template4.aspx</templatefile>
		<filedesc>Artisteer no. 4</filedesc>
	</pagenames>
	<pagenames>
		<templatefile>/citrus-island/citrus1.aspx</templatefile>
		<filedesc>Citrus no. 1</filedesc>
	</pagenames>
	<pagenames>
		<templatefile>/citrus-island/citrus2.aspx</templatefile>
		<filedesc>Citrus no. 2</filedesc>
	</pagenames>
	<pagenames>
		<templatefile>/abundant/abundant.aspx</templatefile>
		<filedesc>Abundant</filedesc>
	</pagenames>

</tbl>