BODY {
	background-color: #609973;
	font-size: 12px;
	font-family: Verdana, Helvetica, Sans-Serif;
}

a {
	text-decoration: none;
}
a:link {
	color: #0191D8;
}
a:active {
	color: #0191D8;
}
a:visited {
	color: #0191D8;
}
a:hover {
	text-decoration: underline;
}

/*
.greenborder2, .greenborder2-small {
	border-width: 10px;
	border-style: solid;
	border-color: #F5F5F5;
	border-collapse: collapse;
	margin: 50px 50px 50px 50px;
	background-color: #ffffff;
}
.greenborder, .greenborder-small {
	border-width: 2px;
	border-style: solid;
	border-color: #353535;
	border-collapse: collapse;
	margin: 0px;
	padding: 10px;
	min-height: 500px;
	min-width: 780px;
	font-size: 12px;
	font-family: Verdana, Helvetica, Sans-Serif;
	background-color: #ffffff;
	background: transparent url( ../images/carrot_sm.png ) no-repeat scroll right bottom;
}

.greenborder2-small {
	width: 425px;
	margin: 50px 100px 50px 100px;
	padding: 0px;
}

.greenborder-small {
	padding: 10px;
	min-height: 200px;
	min-width: 400px;
	margin: 0px;
}

*/

.greenborder2-small {
	border-width: 1px;
	border-style: solid;
	border-color: #609973;
	border-collapse: collapse;
	background-color: #ffffff;
	width: 468px;
	height: 350px;
	margin: 125px 0px 0px 0px;
	background: transparent url( ../images/logonbox.gif ) no-repeat scroll left top;
}

.greenborder-small {
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	border-collapse: collapse;
	font-size: 12px;
	font-family: Verdana, Helvetica, Sans-Serif;
	background: transparent url( ../images/carrot_sm.png ) no-repeat scroll right bottom;
	background-color: #ffffff;
	margin: 25px 40px 0px 30px;
	padding: 10px;
	height: 225px;
}
