<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Carrotware.CMS.Data.Properties.Settings.CarrotwareCMSConnectionString"
            connectionString="Data Source=Localhost\SQL2008EXPRESS;Initial Catalog=CarrotwareCMS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Carrotware.CMS.Data.Properties.Settings.CarrotwareCMSConnectionString1"
            connectionString="Data Source=.\sql2008express;Initial Catalog=CarrotwareCMS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>