<?xml version="1.0" encoding="utf-8" ?>
<tbl xmlns="urn:schema-carrotcakecms-com:template">
	<pagenames>
		<templatefile>oilpainting-home.aspx</templatefile>
		<filedesc>Oil Painting (homepage)</filedesc>
	</pagenames>
	<pagenames>
		<templatefile>oilpainting-page.aspx</templatefile>
		<filedesc>Oil Painting (regular page)</filedesc>
	</pagenames>
	<pagenames>
		<templatefile>oilpainting-index.aspx</templatefile>
		<filedesc>Oil Painting (index page)</filedesc>
	</pagenames>
	<pagenames>
		<templatefile>oilpainting-blog.aspx</templatefile>
		<filedesc>Oil Painting (blog page)</filedesc>
	</pagenames>
	<pagenames>
		<templatefile>oilpainting-home-m.aspx</templatefile>
		<filedesc>Oil Painting M (homepage)</filedesc>
	</pagenames>
	<pagenames>
		<templatefile>oilpainting-page-m.aspx</templatefile>
		<filedesc>Oil Painting M (regular page)</filedesc>
	</pagenames>
	<pagenames>
		<templatefile>oilpainting-index-m.aspx</templatefile>
		<filedesc>Oil Painting M (index page)</filedesc>
	</pagenames>
	<pagenames>
		<templatefile>oilpainting-blog-m.aspx</templatefile>
		<filedesc>Oil Painting M (blog page)</filedesc>
	</pagenames>
</tbl>