<?xml version="1.0" encoding="utf-8" ?>
<tbls xmlns="urn:schema-carrotcakecms-com:widget-admin">
	<pluginlist>
		<pluginid>E5D67D4C-42B7-4F72-8F67-8D871ED4D8EE</pluginid>
		<caption>Lorem Ipsum</caption>
	</pluginlist>

	<plugincontrols>
		<pluginid>E5D67D4C-42B7-4F72-8F67-8D871ED4D8EE</pluginid>
		<menuorder>2</menuorder>
		<parm>pages</parm>
		<pluginlabel>Create Pages</pluginlabel>
		<plugincontrol>LoremIpsum.ascx</plugincontrol>
		<visible>true</visible>
		<useajax>true</useajax>
		<usepopup>false</usepopup>
	</plugincontrols>

	<plugincontrols>
		<pluginid>E5D67D4C-42B7-4F72-8F67-8D871ED4D8EE</pluginid>
		<menuorder>4</menuorder>
		<parm>posts</parm>
		<pluginlabel>Create Posts</pluginlabel>
		<plugincontrol>LoremIpsum.ascx</plugincontrol>
		<visible>true</visible>
		<useajax>true</useajax>
		<usepopup>false</usepopup>
	</plugincontrols>
</tbls>