<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="CarrotCakeCMS.Web" type="Carrotware.CMS.Core.CarrotCakeSectionGroup, Carrotware.CMS.Core">
      <section name="Settings" type="Carrotware.CMS.Core.CarrotCakeConfig, Carrotware.CMS.Core" allowLocation="true" allowDefinition="Everywhere" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings />
  <CarrotCakeCMS.Web xmlns="urn:schema-carrotcakecms-com:config">
    <Settings>
      <!--<OverrideConfigFile AdminModules="AdminModules.config" SiteMapping="SiteMapping.config" TextContentProcessors="TextContentProcessors.config" />-->
      <!--<Config SiteID="3BD253EA-aaaa-4eb6-bbbb-BB097C2255A0" AdminFolderPath="/c3-admin/" />-->
      <!--<FileManager BlockedExtensions="config;sln;cs" />-->
      <!--<Options WriteErrorLog="false" OldSiteQuerystring="tag" />-->
      <!--<Config />-->
      <Config SiteID="3BD253EA-AC65-4EB6-A4E7-BB097C2255A0" SiteSkin="Classic" />
      <!--
      <FileManager BlockedExtensions="" />
      <Options WriteErrorLog="" OldSiteQuerystring="" />
      <PublicSite ControlPathFooter="~/IncludeFoot.ascx" ControlPathHeader="~/IncludeHead.ascx" />
      <AdminFooter ControlPathMain="" ControlPathPopup="" ControlPathPublic="" />
      <OverrideConfigFile AdminModules="" PluginPath="" PublicControls="" SiteMapping="" SiteSkins="" TemplatePath="" TextContentProcessors="" />
      -->
      <FileManager />
      <Options WriteErrorLog="true" />
      <AdminFooter />
      <PublicSite />
      <OverrideConfigFile />
    </Settings>
  </CarrotCakeCMS.Web>
  <connectionStrings>
    <add name="CarrotwareCMSConnectionString" connectionString="Data Source=.\sql2008express;Initial Catalog=CarrotwareCMS;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!--<trust level="Medium" />-->
    <!--
    Set compilation debug="true" to insert debugging
    symbols into the compiled page. Because this
    affects performance, set this value to true only
    during development.
    -->
    <!--<globalization uiCulture="en-US" culture="en-US" />-->
    <!--<globalization uiCulture="en-GB" culture="en-GB" />-->
    <!--<globalization uiCulture="en-CA" culture="en-CA" />-->
    <!--<globalization uiCulture="es-ES" culture="es-ES" />-->
    <!--<globalization uiCulture="fr-FR" culture="fr-FR" />-->
    <!--<globalization uiCulture="tr-TR" culture="es-ES" />-->
    <!--<globalization uiCulture="zh-TW" culture="zh-TW" />-->
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="Carrotware.CMS.Core" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <httpRuntime maxRequestLength="10240" executionTimeout="90" />
    <!--
    The <authentication> section enables configuration
    of the security authentication mode used by
    ASP.NET to identify an incoming user.
    -->
    <authentication mode="Forms">
      <forms loginUrl="~/c3-admin/Logon.aspx" defaultUrl="~/c3-admin/default.aspx" protection="All" timeout="1440" />
    </authentication>
    <!--
    The <customErrors> section enables configuration
    of what to do if/when an unhandled error occurs
    during the execution of a request. Specifically,
    it enables developers to configure html error pages
    to be displayed in place of a error stack trace.

    <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
    <error statusCode="403" redirect="NoAccess.htm" />
    <error statusCode="404" redirect="FileNotFound.htm" />
    </customErrors>
    -->
    <roleManager enabled="true" defaultProvider="RoleProvider">
      <providers>
        <clear />
        <add name="RoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="CarrotwareCMSConnectionString" applicationName="/" />
      </providers>
    </roleManager>
    <membership defaultProvider="SqlProvider">
      <providers>
        <clear />
        <add name="SqlProvider" type="System.Web.Security.SqlMembershipProvider" applicationName="/" connectionStringName="CarrotwareCMSConnectionString" enablePasswordReset="true" requiresUniqueEmail="true" requiresQuestionAndAnswer="false" minRequiredPasswordLength="5" passwordFormat="Hashed" minRequiredNonalphanumericCharacters="0" maxInvalidPasswordAttempts="10" passwordAttemptWindow="5" passwordStrengthRegularExpression="" />
      </providers>
    </membership>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add namespace="Carrotware.CMS.UI.Controls" assembly="Carrotware.CMS.UI.Controls" tagPrefix="carrot" />
        <add namespace="Carrotware.Web.UI.Controls" assembly="Carrotware.Web.UI.Controls" tagPrefix="carrot" />
      </controls>
    </pages>
    <httpHandlers>
      <add verb="*" path="UrlRouting.axd" type="System.Web.HttpForbiddenHandler, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <add verb="*" path="*.aspx" type="Carrotware.CMS.Core.VirtualFileSystem" />
      <add verb="*" path="rss.ashx" type="Carrotware.CMS.Core.VirtualFeed" />
      <add verb="*" path="sitemap.ashx" type="Carrotware.CMS.Core.VirtualFeed" />
      <add verb="*" path="trackback.ashx" type="Carrotware.CMS.Core.VirtualFeed" />
      <add verb="*" path="Carrot*.axd" type="Carrotware.Web.UI.Controls.CarrotHttpHandler, Carrotware.Web.UI.Controls" />
    </httpHandlers>
  </system.web>
  <!--
  The system.webServer section is required for running ASP.NET AJAX under Internet
  Information Services 7.0. It is not necessary for previous version of IIS.
  -->
  <system.net>
    <mailSettings>
      <smtp from="web@example.com" deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="C:\Temp" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="UrlRoutingHandler" />
      <add name="VirtualFileSystem" verb="*" path="*.aspx" type="Carrotware.CMS.Core.VirtualFileSystem" />
      <add name="VirtualFeedRSS" verb="*" path="rss.ashx" type="Carrotware.CMS.Core.VirtualFeed" />
      <add name="VirtualFeedSM" verb="*" path="sitemap.ashx" type="Carrotware.CMS.Core.VirtualFeed" />
      <add name="VirtualFeedTB" verb="*" path="trackback.ashx" type="Carrotware.CMS.Core.VirtualFeed" />
      <add name="CarrotHttpHandler" verb="*" path="Carrot*.axd" type="Carrotware.Web.UI.Controls.CarrotHttpHandler, Carrotware.Web.UI.Controls" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.3.0" newVersion="4.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.3.0" newVersion="4.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.3.0" newVersion="4.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.3.0" newVersion="4.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>